@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.anchor-menu {
  top: -128px;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

.not-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.not-done .checkmark,
.in-progress .checkmark {
  display: none;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  top: 5px;
  left: 0px;
}

.hamburger-top,
.hamburger-mid,
.hamburger-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #e6e2a1;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-mid {
  transform: translateY(7px);
}

.hamburger-bot {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-mid {
  display: none;
}

.open .hamburger-bot {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
